li {
    padding-right: 5rem ;
}

.menu {
    width: 100%;
    margin: 1rem;
}

.menu-list, .menu, .menu-bar{
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.menu-list {
    list-style: none;
    
}

@media (max-width: 768px) {
    .menu-list {
        flex-direction: column;
        justify-content: left;
        /* align-items: center; */
        padding-right: 2.5rem;
    }
}