li {
    padding-right: 5rem ;
}

.menu {
    width: 100%;
    margin: 1rem;
}

.menu-list, .menu, .menu-bar{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.menu-list {
    list-style: none;
    
}

@media (max-width: 768px) {
    .menu-list {
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        /* padding-right: 2.5rem; */
    }

    .link-ativo {
        padding: 1rem 0;
    }
}

.link-ativo:hover {
    opacity: 100%;
    text-decoration: none;
    transition: 300ms;
}

.link-ativo {
    transition: 300ms;
    opacity: 60%;
    color: #ffffff;
}